* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrap {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}

header {
  position: relative;
  z-index: 999;
}

section {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-right: 100px;
  transition: .5s ease;
}
section:nth-child(odd) {
  background-color: #f7f7f7;
}
section.intro {
  text-align: center;
}
section.intro h2, section.intro h5 {
  font-weight: 300;
  margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6, p {
  color: #222;
}

h1 {
  font-size: 8vw;
  font-family: serif;
  font-weight: bold;
}

p {
  line-height: 1.4;
  margin-bottom: 18px;
}

body.dragging section {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.slider-navigation {
  position: fixed;
  top: 5%;
  right: 50px;
  height: 90%;
  width: 4px;
  background: #222;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-navigation .tick {
  display: none;
  position: relative;
  cursor: pointer;
  height: 4px;
  width: 20px;
  background: #222;
}
.slider-navigation .tick:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}
.slider-navigation .nav-pointer {
  position: absolute;
  top: 0;
  right: 0;
  background: #222;
  color: white;
  font-weight: 300;
  font-size: 12px;
  padding: 3px 8px;
  cursor: pointer;
  height: 22px;
  width: 44px;
  text-align: center;
  display: flex;
  align-items: center;
}
.slider-navigation .nav-pointer:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 40px;
  width: 100%;
  z-index: -1;
}

body.dragging {
  cursor: -webkit-grab;
  cursor: grab;
}
body.dragging .nav-pointer {
  transition: none;
}
