@media screen and (min-width: 1800px){
    .box {
        width: 80%;
    }
    .block .block-in {
        padding: 4em 2em 12em 2em;
    }

}
@media screen and (min-width: 1630px){
   .questions .box {
        top: 56%!important;
    }
}


@media screen and (min-width:1450px) {
    body{
        padding-right:0px !important;
        margin-right:0px !important;
    }
    .header-b {
        padding-top: 2em;
        padding-bottom: 8em;
    }

}
@media screen and (min-width:1440px) {
   .questions .box {
        top: 52%;
    }
}
@media screen and (max-width:1325px) {
    .box {
        width: 90%;
    }
    .left-b .page {
        right: 8%;
        font-size: 16px;
    }
    .header-b .arrow {
        width: 80px;
        right: -35%;
    }
    .header-b .right-down, .header-b .down-l {
        margin-top: 25%;
    }
    

}
@media screen and (max-width: 1304px) {
    .header-b .arrow-left{
        display: inline-block;
    }
    .header-b .arrow {
       display: none;
    }
    .header-h .left .left-r li:first-child {
        font-size: 30px;
    }
}

@media screen and (max-width:1205px) {
    .address .container, footer .container {
        padding: 0 5em;
    }
    .header-b .arrow{
        display: inline-block;
    }
    .header-b .arrow-left {
       display: none;
    }
}
@media screen and (max-width:1199px) {
    .header-b .right li, .header-b .left li:first-child {
        font-size: 1em;
    }
    .header-b .down-l, .header-b .right-down {
        margin-top: 35%;
    }
    .header-h .left .left-r {
        margin-left: 3.5em;
    }
    .header-b {
        padding-top: 3em;
    }
    #cloud {
        top: -35%;
    }
    .kinds .block, .flex .item-in li span, .advantages-in {
        font-size: 14px;
    }
    
}
@media screen and (max-width:1120px) {
    .header-h .left .left-r li:first-child {
        font-size: 25px;
    }
}
@media (max-width: 1105px) { 
    .header-b .arrow-left{
        display: inline-block;
        width: 50px;
        left: -23%;
    }
    .header-b .arrow {
       display: none;
    }
    .header-h .left .left-r {
        margin-left: 3em;
    }
    
}
@media (max-width: 1085px) { 
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 20px;
    }
   .mobile .mobile-in {
        padding: 2em 0 15em 0;
    }
	    .align-middle {
        width: 49%;
    }
    .pc-selling {
        display: none!important;
    }
    .mob-selling {
        display: inline!important;
    }
    .mob-selling img {
        opacity: 1;
    }
    .selling .z-index {
         width: 60%;
         margin: 0 auto;
    }
    .header-b {
        font-size: 14px;
    }
	.ob-title3 {
		font-size: 35px;
	}
	.header .lamp {
		width: 340px;
	}
}

@media (max-width: 1042px){
    .mobile .mobile-in {
        padding: 2em 0 13em 0;
    }
    #cloud {
        top: -25%;
    }
    .kinds .block {
        width: 65%;
    }
    .kinds .block, .flex .item-in li span, .advantages-in {
        font-size: 13px;
    }
    .flex .number {
        font-size: 4em;
    }
    .cloud h4 {
        font-size: 14px;
    }
}


@media (max-width: 992px) {
	.header-h .left-l {
		width: 35%;
	}
    .header-h .text {
        padding-top: 0;
        font-size: 8px;
    }
    .ob-title2 {
        font-size: 16px;
    }
    hr {
        display: none;
    }
    .header .lamp, .header-h .right, .header-b .left-down,  .header-b .right-down, .header-b .right {
        display: none;
    }
    .mob-call {
        display: flex;
    }
    .header .header-c {
        display: inline-block;
        vertical-align: top;
        padding-top: 0;
        width: 100%;
        margin-top: -1em;
    }
    .header-h .left {
        display: inline-block;
        width: 100%;
        padding: 1.5em 0;
        padding-bottom: 0;
    }
    .header-h .left-in {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        width: 100%;
    }
    .mob-call .i-div i {
        margin-right: 5px;
        color:#ff7d00;
    }
	.ob-title3 {
		font-size: 30px;
	}
    .ob-text3 {
        top: 38%;
        left: 51.4%;
		font-size: 10px;
    }
    .header-b {
        padding-top: 0!important;
		padding-bottom: 4em;
    }
    .header-b .left-block {
        width: 100%;
        opacity: 0;
        position: relative;
        left: 0;
        top: 0;
        text-align: center;
    }
    .header-b .left {
        display: inline-block;
        vertical-align: top;
        text-align: left;
        width: 100%;
        position: relative;
    }
    #it-person {
        display: none;
    }
    h2 {
        font-size: 22px;
    }
    h3 {
        font-size: 18px;
    }
     .header-b .arrow{
        display: inline-block;
        right: -40%;
        width: 60px;
    }
    .header-b .arrow-left {
       display: none;
    }
	.pc_phone {
		display:none;
	}
	.mobile_phone {
		display:block;
	}
    .header-b .icon img{
        width: 40px;
    }
    .header-h .left, .header-b .left li{
        font-size: 12px;
    }
    .header-b .steklo img, .advantage .green img{
        width: 160px;
    }
    .header-h .left .left-r li:first-child {
        font-size: 20px;
    }
    .header-b .right-text{
        width: 160px;
    }
    .header-h .right img {
        width: 80px;
    }
    .header-b .right h3, .left-b .left-b-r, .address h3, h2, h4{
        font-size: 16px;
    }
    .header-b .down-l {
        margin-top: 48%;
    }    
    .header-b .right-down {
        margin-top: 40%;
    }

    input, .header-b input[type=submit],.address .right input,.address .right input[type=submit] {
        width: 160px;
        font-size: 14px;
    }
    .address .left li,.modal-block .center li, .modal-block .center2-text li,.modal-block .block li{
        font-size: 14px;
    }
    .modal-dialog{
        width:750px;
        margin:20px auto;
    }
    .modal-block .center{
        width: 55%;
    }
    .mobile .mobile-in {
        padding: 2em 0 9em 0;
    }
    #cloud {
        top: -22%;
    }
    .kinds .block {
        width: 80%;
    }
    #cloud{
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
        width: 100%;
    }
    #oduv-1, #oduv-2, #oduv-3,#oduv-4, #oduv-5,#oduv-6 {
        display: none;
        -webkit-animation: none;
        -moz-animation: none;
        -o-animation: none;
    }
    
}
@media (max-width: 860px) {
    .selling .z-index img{
        width: 100%;
    }
     .selling .z-index {
        font-size: 14px;
    }
    #hr-2 {
        display: block;
    }
    #shadow1, #shadow2, #shadow3, #shadow4 {
        left: -0.5em;
    }
    .selling {
        padding: 7em 0;
    }
}
@media (max-width: 832px) {
    .header-b .arrow-left{
        display: inline-block;
        left: -35%;
    }
    .header-b .arrow {
       display: none;
    }
    .header-b .left-down, .header-b .right-down {
        opacity: 0;
    }
    .header-h .left .left-r {
        margin-left: 1.5em;
    }
    .block .block-in {
        padding: 3em 0em 10em 0em;
    }
    .selling .first, .selling .second, .selling .third, .selling .fourth {
        top: 0;
        left: -7%;
    }
}
@media (max-width: 767px) {
    .col-item {
        margin: 3% 0;
    }
    #empty {
        display: none;
    }
}

@media (max-width: 762px) {
    .header-b .down-l {
        margin-top: 60%;
    }    
    .header-b .right-down {
        margin-top: 52%;
    }
    .header-b .right-block {
        padding-right: 1em;
    }
    .header-b .icon img{
        width: 25px;
    }
    .header .container {
        padding-right: 10px;
        padding-left: 10px;
    }
    .modal-block .center li, .modal-block .center2-text li,.modal-block .block li {
        font-size: 12px;
    }
    .header-h .right img {
        width: 60px;
    }  
     h2, h3 {
    font-size: 16px;
    }
    .modal-dialog{
        width:600px;
        margin:10px auto;
    }
    .modal-block{
        padding: 1em;
    }
    .modal-block .block {
        padding: 1em;
    }
    .modal-block .block-img {
    top: 100%;
    }
    .modal-block .center-text, .modal-block .center2-text{
        margin-bottom:1em;
    }
    .address .container, footer .container {
        padding: 0 2em;
    }
    .address .arrow-left{
        display: inline-block;
        left: -40%;
        width: 60px;
    }
    .address .arrow {
       display: none;
    }
    .header-b .right li, .header-b .left li:first-child, .header-h .right-in li{
        font-size: 0.8em;
        line-height: 20px;
    }
    .add {
        margin-bottom: 0em;
    }
    .controls {
        position: relative;
        z-index: 20;
        font-size: 25px;
        right: 0;
        top: 0;
    }
    .kinds .block {
        width: 90%;
    }
    #cloud {
        top: -18%;
    }
    .cloud{
        padding-bottom: 2em;
    }
    .cloud .flex, .advantages-in {
        display: block;
        padding-bottom: 0;
    }
    .flex .item{
        width: 100%;
        margin-bottom: 10%;
    }
    .advantages-in .item  {
        width: 100%;
    }
    .flex .item-in li {
        line-height: 14px;
    }
    #oduv, #oduv-1, #oduv-2, #oduv-3, #oduv-4, #oduv-5, #oduv-6 {
        display: none;
    }
    .advantages {
        text-align: center;
        padding-bottom: 2em;
    }
    .flex .l-item, .flex .r-item {
        text-align: left;
    }
    .flex .mobile {
        display: block;
    }
    .flex .pc {
        display: none;
    }
    .advantages h2:nth-child(2) {
        margin-bottom: 1em;
    }
    .advantages .flex {
        margin-bottom: 0;  
        align-items: center;
    }
    .kinds .block, .flex .item-in li span, .advantages-in,.flex .item-in li  {
        font-size: 12px;
    }
    .flex .number {
        font-size: 3em;
    }
    .cloud .box {
        width: 80%;
    }
}


@media (max-width: 690px) {
    .row {
        margin: 0;
    }
    .header-b .down-l {
        margin-top: 69%;
    }    
    .header-b .right-down {
        margin-top: 60%;
    }
    .box {
        width: 95%;
    }
    .header-b .right li, .header-b .left li:first-child, .header-h .right-in li{
        font-size: 0.7em;
        line-height: 14px;
    }
    .header-h .left .left-r {
        margin-left: 0.5em;
    }
    .header-h .right .right-r {
        margin-left: 0.2em;
    }
    .selling .z-index {
        width: 85%;
    }
    .questions .box {
        width: 35em;
    }
    .selling .first, .selling .second, .selling .third, .selling .fourth {
        top: 0;
        left: 0;
    }
    .selling {
        padding: 8em 0 3em 0;
    }
    .ob-text3 {
		top: 40%;
		left: 52.4%;
		font-size: 10px;
	}
	
}
@media (max-width: 642px) {
    h4 {
        font-size: 14px;
    }
    .header-b .arrow-left{
        display: inline-block;
        left: -40%;
    }
    .modal-block .thanks-block{
        padding: 1em 3em;
    }
    .modal-block .link-block {
        width: 285px;
    }
    .header-b {
        padding-bottom: 4em;
    }
    .header-b .down-l {
        margin-top: 29%;
    }    
    .header-b .right-down {
        margin-top: 20%;
    }
    .header-b .right-text {
        width: 130px;
    }
    hr {
        opacity: 1;
    }
    .header-h .left, .header-b .left li{
        font-size: 10px;
    }
    .header-b .steklo img {
        width: 100px;
    }
    .header-h .right img {
        width: 40px;
    }
    .header-b .right h3{
        font-size: 12px;
    }
    input, .header-b input[type=submit],.address .right input,.address .right input[type=submit] {
        width: 130px;
        font-size: 11px;
    }
    .header-h, .header .lamp2 {
        opacity: 1;
    }
    .header-b {
        opacity: 1;
    }
    h2, h3{
    font-size: 16px;
    }
    .address ul {
        text-align: left;
    }
    .left-b .page {
        right: 8%;
        font-size: 16px;
    }
    .modal-dialog{
        width:550px;
        margin:10px auto;
    }
    .modal-block .left {
        text-align: center;
        width: 100%;
    }
    .modal-block .center, .modal-block .right {
        width: 100%;
        margin-left: 0;
        padding-top: 1em;
    }
    .modal-block .block {
        width: 100%;
        margin: 0;
    }
    .modal-block .center2-text li, .modal-block .center li{
        margin: 0.2em 0;
    }
    .modal-block .block-img{
        top: 120%;
    }
    .address .arrow-left{
        display: inline-block;
        left: -35%;
        width: 50px;
    }
    .header-h .left .left-r li:first-child {
        font-size: 18px;
    }
    .block .block-in {
        display: block;
    }
    .block-in .item {
        width: 49%;
        border-right: 0;
        display: inline-block;
        vertical-align: top;
    }
    .block-in .item img {
        width: 40%;
    }
    .block .block-in {
        padding: 1em 0em 10em 0em;
    }
}

@media (max-width: 630px) {
    #vr {
        top: -0.5em;
        left: 10%;        
    }    
    .selling {
        padding: 7em 0;
    }
    .questions .first, .questions .second, .questions .third, .questions .fourth {
        display: none;
    }
    .questions .box {
        width: 85%;
        top: 35%;
    }
    .mobile-questions {
        display: block;
    }
    svg {
        display: none;
    }
    .mobq {
        display: block;
    }
    .questions {
        height: 100%;
    }
    .selling .text,.selling .text2  {
        font-size: 12px;
    }
    #hr {
        top: 35%;
    }
    #hr-2 {
        bottom: 33%;
    }
    .selling .first, .selling .second, .selling .third, .selling .fourth {
        font-size: 3.5em;
    }
    .address {
        margin-top: -11em;
    }
    
}


@media (max-width: 583px) {
    .mobq {
        margin-left: 0.3em;
    }
    
}
@media (max-width: 577px) {
    .modal-block .thanks-block {
        padding: 1em 2em;
        font-size: 11px;
    }
    .modal-block .thanks-block h4 {
        font-size: 14px;
    }
}
@media (max-width: 540px) {
    .mobq {
        margin-left: 0.2em;
    }
    .ob-text3 {
        top: 40%;
    }

}
@media (max-width: 520px) {
    .header-h .left .left-r li:first-child {
        font-size: 20px;
    }
    .mobile-block {
        display: inline-block;
    }
    .header-h .left .left-r {
        margin-left: 0;
        margin: 2% 0;
        text-align: center;
    }
    .header-h .right {
        display: none;
    }
    .header-h .right-in {
        float: none;
    }
    .address .arrow-left{
        left: 20%;
    }
    .header-b .arrow{
        display: inline-block;
        right: -35%;
        width: 55px;
    }
    .header-b .arrow-left {
       display: none;
    }
    .modal-block .link-block {
        width: 200px;
    }
    .header-b .left-block, .header-b .right-block {
        position: relative;
    }
    #hr-top {
        display: none;
    }
    .header-b .left-block {
        width: 80%;
        margin: 0 auto;
    }
    .header-b .right-block {
        padding-right: 0;
    }
    .header-b .right-text {
        width: 160px;
        text-align: center;
    }
    h2, h3, h4 {
        font-size: 14px;
    }
    .header .lamp  {
        position: relative;
    }
    .header .lamp img, .header .lamp2 img  {
        display: none;
    }
    .header-h .left,  .address .left li,  .work .circle-text-in span, .advantages li{
        font-size: 12px;
    }
    .address .right h3, .header-b .right h3, .header-b .left li {
        font-size: 0.8em;
    }
    .header-b .left, .address .left , .address .right  {
        width: 100%;
        text-align: center;
    }
	.ob-text3 {
		top: 39%;
	}
    input, .header-b input[type=submit],.address .right input,.address .right input[type=submit] {
        width: 160px;
        font-size: 12px;
    }
    footer .right {
        float: none;
        text-align: center;
    }
    .left-b .page {
        right: 10%;
    }
    .address {
        margin-top: -20em;
        padding: 0 0 1em 0;
    }
    footer {
        padding-bottom: 1em;
    }
    .address .container, footer .container {
        padding: 0;
    }
     .modal-dialog{
        width:400px;
        margin:5px auto;
    }
    .modal-block .center, .modal-block .right {
        padding-top: 0.8em;
    }
    .modal-block .center2-text li, .modal-block .center li{
        margin: 0.1em 0;
    }
    .modal-block .left img{
        width: 30%;
    }
    .zoom {
        width: 100px!important;
    }
    .left-b .left-b-r {
        font-size: 22px;
    }
     .modalOffer {
        width: 350px!important;
    }
    .modal-block {
        padding: 2em;
    }
    .modalForm input[type=submit] {
        font-size: 14px;
    }
    .mobile .mobile-in {
        padding: 2em 0 4em 0;
    }
    .mobileWeb, .mobileSoft {
        display: inline-block;
        text-align: left;
        width: 80%;
    }
    .kinds {
        padding-top: 2em;
    }
    .address .right h4 {
        width: 40%;
        margin: auto;
        padding: 15px 0;
    }
    .selling {
        padding: 1em 0;
    }

}

@media (max-width: 460px) {
    .address .arrow-left{
        left: 15%;
    }
    #vr {
        top: 0.55em;
    }
    .mobq {
        margin-left: 0;
    }
}
@media (max-width: 420px) {
    .selling .first, .selling .second, .selling .third, .selling .fourth {
        font-size: 2.5em;
    }
    #vr {
        top: 0.65em;
    }
	.ob-title3 {
        font-size: 24px;
    }
    .ob-text3 {
		top: 37%;
        font-size: 9px;
    }
}
@media (max-width: 399px) {
    .left-b .page {
        right: 15%;
    }
    .modal-dialog{
        width:300px;
        margin:10px auto;
    }
    .modal-block .center li, .modal-block .center2-text li, .modal-block .block li{
        font-size: 11px;
    }
    .modal-block .block-img{
        top: 110%;
    }
    .address .arrow-left{
        left: 10%;
    }
    .modalOffer {
        width: 300px!important;
    }
    .mobq {
        margin-left: -0.2em;
    }
    #vr {
        top: 0.7em;
    }
	.ob-text3 {
		left: 53.4%;
	}
	
}
@media (max-width: 350px) {
    .address .arrow-left{
        left: 5%;
    }
    .block .block-in {
        padding: 1em 0em 7em 0em;
    }
    #cloud {
        top: -15%;
    }
    #vr {
        top: 0.8em;
    }
	.ob-title3 {
		font-size: 23px;
	}
	.ob-text3 {
		top: 35%;
		font-size: 8px;
	}

}
@media (max-width: 345px) {
    #vr {
        top: 2em;
    }
    .ob-text2 {
        top: 53%;
     }

    }
@media (max-width: 320px) {
    .modalOffer {
        width: 270px!important;
    }
    #vr {
        top: 1.9em;
    } 
    .questions .box {
        top: 34%;
    }
}