@font-face{font-family:evolventa;src:url('../fonts/evolventa.ttf');}
@keyframes onTop{from{top:0px;}
to{top:50%;}
}
@-webkit-keyframes toTopFromBottom{49%{-webkit-transform:translate3d(-50%, -70%, 0)}
50%{opacity:0;-webkit-transform:translate3d(-50%, 70%, 0)}
51%{opacity:1}
}
@keyframes toTopFromBottom{49%{-webkit-transform:translate3d(-50%, -70%, 0);transform:translate3d(-50%, -70%, 0)}
50%{opacity:0;-webkit-transform:translate3d(-50%, 70%, 0);transform:translate3d(-50%, 70%, 0)}
51%{opacity:1}
}
@keyframes trambling-animation{0%, 50%, 100%{transform:rotate(0deg);}
10%, 30%{transform:rotate(-2deg);}
20%, 40%{transform:rotate(2deg);}
}
@keyframes trambling-animation2{0%, 50%, 100%{transform:rotate(0deg);}
10%, 30%{transform:rotate(-2deg);}
20%, 40%{transform:rotate(2deg);}
}
body{font-family:evolventa;background-repeat:no-repeat;background-size:100%;-moz-background-size:100%;-o-background-size:100%;background-attachment:fixed;background:url(../img/bg.jpg);overflow-x:hidden!important;}
.body{background-color:rgba(255, 255, 255, 0.06);}
ul{list-style:none;margin:0;padding:0;}
p{margin:0;padding:0;}
input{margin:0.3em 0;padding:0.2em 0.4em;width:240px;outline:none;background:transparent;}
input::placeholder{color:#fff;}
.afterClickColor{color:#000!important;}
.afterClickColor::-webkit-input-placeholder{color:#000!important;}
.box{width:85%;margin:0 auto;}
.align-middle{display:inline-block;vertical-align:middle;}
.js-class{animation:4s ease-in-out 0s normal none infinite running trambling-animation;}
.js-class2{animation:15s ease-in-out 0s normal none infinite running trambling-animation2;}
.border{display:inline-block;border-bottom:1px solid #ff7d00;margin:0;width:70px;}
.header{color:#fff;position:relative;z-index:1;}
.header .container{padding-right:0;padding-left:0;}
.header-h{opacity:0;}
.header-b .arrow{position:absolute;right:-30%;top:75%;opacity:0.6;}
.header-b .arrow-left{position:absolute;left:-40%;top:20%;display:none;}
.header-h .left{display:inline-block;width:59%;padding:1.5em 0;}
.header-h .left-in{display:inline-block;}
.header-h .text{padding-top:10px;}
.header-h .left-l{display:inline-block;vertical-align:middle;text-align:left;}
.header-h .left .left-r{display:inline-block;vertical-align:middle;text-align:left;margin-left:5em;}
.header-h .left .left-r li:first-child{font-size:35px;color:#00bc00;}
.header-h .left-r:before{float:right;}
.header-h .right{display:inline-block;vertical-align:middle;width:40%;}
.header-h .right-in{display:inline-block;text-align:left;float:right;}
.header-h .right .right-l{display:inline-block;vertical-align:middle;}
.header-h .right .right-l i{color:#00bc00;font-size:1.3em;}
.header-h .right .right-r{display:inline-block;vertical-align:middle;margin-left:1em;}
.header-b{padding-top:4em;padding-bottom:2em;}
.header-b .left{display:inline-block;vertical-align:top;text-align:left;width:59%;position:relative;}
.header-b .left-block{width:60%;opacity:0;position:relative;left:0;top:0;}
.header-b .left-down{width:61%;text-align:right;position:relative;}
.header-b .down-l{display:inline-block;position:relative;width:100%;margin-top:30%;}
.header-b .left li:first-child{font-size:1.3em;line-height:25px;}
.transform{-webkit-transform:translate(-50%, -50%);-moz-transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%);-o-transform:translate(-50%, -50%);transform:translate(-50%, -50%);}
.header-b .right{position:relative;display:inline-block;vertical-align:top;width:40%;text-align:right;padding-bottom:5em;}
.header-b .right-block{display:inline-block;padding-right:1em;position:relative;z-index:100;opacity:0;position:relative;right:0;top:0;}
.header-b .right li{font-size:1.3em;line-height:25px;}
.header-b .right-text{display:inline-block;width:243px;text-align:left;position:relative;}
.header-b .right-down{width:100%;text-align:left;position:relative;padding-left:10%;margin-top:30%;}
.header-b .down-r{display:inline-block;position:relative;width:100%;}
.header-b .icon{display:inline-block;vertical-align:bottom;text-align:center;}
.header-b input[type=submit]{border:2px solid #ff7d00;color:#ff7d00;font-size:20px;background-color:#757575;transition:0.6s;}
.header-b input[type=submit]:hover{border:2px solid #fff;color:#fff;}
.header .lamp{display:inline-block;position:absolute;top:0;left:50%;transform:translate(-50%, 0);width:28%;}
.header .header-c{display:none;padding-bottom:1em;}
.header .lamp2{opacity:1;display:inline-block;position:absolute;bottom:-27%;left:50%;transform:translate(-50%, -50%);}
.header .lamp2 img{margin:0 20px 0 0;}
.header .lamp2 img:last-child{margin:0;}
.header .lamp2 img:first-child{opacity:0;}
.header .lamp2 img:nth-child(2){opacity:0;margin-top:27%;}
.header .lamp2 img:nth-child(3){opacity:0;margin-top:42%;}
.header .lamp2 img:nth-child(4){opacity:0;margin-top:43%;}
.header .lamp2 img:nth-child(5){opacity:0;margin-top:30%;}
.header .lamp2 img:nth-child(6){opacity:0;margin-top:9%;}
.text-center2{text-align:center;display:inline-block;}
.shadow-it{position:absolute;bottom:0;width:100%;left:0;}
.myshka{position:absolute;bottom:5%;left:3%;width:25%;}
.gorshok{position:absolute;bottom:3%;right:2%;width:25%;}
.mob-call{display:none;justify-content:flex-end;align-items:center;width:50%;text-align:right;}
.mob-call .i-div i{margin-right:5px;color:#00bc00;}
.ob-text2{position:absolute;top:56%;left:50%;text-transform:uppercase;font-size:14px;color:#ffffff;text-align:center;}
.ob-title2{font-size:30px;color:#00bc00;font-weight:900;text-shadow:2px 0 10px rgba(0, 0, 0, 0.5);}
hr{margin-top:0;margin-bottom:0;border-top:2px solid #616161;opacity:0;}
.header-h .left-r ul{color:#e3e3e3;}
.mobile-block{position:absolute;top:85%;right:5%;-webkit-transition:all 0.8s ease-in-out;transition:all 0.8s ease-in-out;z-index:1000;box-sizing:border-box;display:none;}
.mobile-block i{font-size:3.5em;color:#ff7d00;}
.mobile-part{display:none!important;}
.web{position:relative;overflow:hidden;}
.mobileWeb{display:none;}
.mobileWeb ul{list-style:circle!important;}
.white{background:#fff;padding:7em 0 25em 0;position:relative;}
.white h3{text-transform:uppercase;width:60%;}
#c-line{position:relative;z-index:1;margin-top:-1px;}
#svg1{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;}
#svg1 text{font-weight:200;font-size:16px;}
#svg2{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;display:none;}
#svg2 text{font-weight:200;font-size:16px;}
#line992{display:none;}
#bold{font-weight:bold!important;cursor:pointer;}
.border2, .border3, .border4, .border5, .border6, .border7, .border8, .border9, .border10, .border11, .border12, .border13{display:none;position:absolute;top:0;left:0;z-index:10;}
.border2-2, .border3-2, .border4-2, .border5-2, .border6-2, .border7-2, .border8-2, .border9-2, .border10-2, .border11-2, .border12-2, .border13-2{display:none;position:absolute;bottom:0;left:0;}
text{font-family:evolventa;font-weight:bold;}
.web .web-in{color:#fff;padding:5em 0 9em 0;position:relative;z-index:2;}
.web .item2{margin-top:15em;}
.web .item3{margin-top:10em;}
.web .item4{margin-top:11em;}
.web .item5{margin-top:12em;}
.web .item6{margin-top:11em;}
.web .soft-in{color:#fff;padding:5em 0 9em 0;position:relative;z-index:2;display:none;}
.web .part-little{width:30%;display:inline-block;position:relative;}
.web .part-big{width:53%;display:inline-block;margin-left:15%;position:relative;}
.web .title{color:#ff7d00;font-size:25px;border-bottom:2px solid #fff;padding-bottom:1%;margin-bottom:4%;}
.web .text{font-style:italic;}
.pad-bot{padding-bottom:10%;}
.web .title2{color:#ff7d00;margin-bottom:2%;font-style:italic;}
.web ul{list-style-image:url(../img/ul.png);}
.web li{margin:1% 0;}
.web .part-little2{width:30%;display:inline-block;margin-left:10%;}
.web .part-big2{width:45%;display:inline-block;margin-left:3%;}
.soft{position:relative;display:none;overflow:hidden;}
.mobileSoft{display:none;}
.mobileSoft ul{list-style:circle!important;}
#svg-soft1{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;}
#svg-soft1 text{font-weight:200;font-size:16px;}
#svg-soft2, #svg-soft3{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;display:none;}
#svg-soft2 text, #svg-soft3 text{font-weight:200;font-size:16px;}
.soft .soft-in{color:#fff;padding:5em 0 18em 0;position:relative;z-index:2;}
.soft .item2{margin-top:10em;}
.soft .item3{margin-top:10em;}
.soft .item4{margin-top:14em;}
.soft .item5{margin-top:9em;}
.soft .part-little{width:30%;display:inline-block;position:relative;}
.soft .part-big{width:53%;display:inline-block;margin-left:15%;position:relative;}
.soft .title{color:#ff7d00;font-size:25px;border-bottom:2px solid #fff;padding-bottom:1%;margin-bottom:4%;}
.soft .text{font-style:italic;}
.pad-bot{padding-bottom:10%;}
.soft .title2{color:#ff7d00;margin-bottom:2%;font-style:italic;}
.soft ul{list-style-image:url(../img/ul.png);}
.soft li{margin:1% 0;}
.soft .part-little2{width:30%;display:inline-block;margin-left:10%;}
.soft .part-big2{width:45%;display:inline-block;margin-left:3%;}
.mobile{position:relative;display:none;overflow:hidden;}
.mobileWeb{display:none;}
.mobileWeb ul{list-style:circle!important;}
#svg-mobile1{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;}
#svg-mobile1 text{font-weight:200;font-size:16px;}
#svg-mobile2, #svg-mobile3{position:absolute;top:20%;left:50%;z-index:10;transform:translate(-50%, 0);border-bottom:3px solid #99d85f;display:none;}
#svg-mobile2 text, #svg-mobile3 text{font-weight:200;font-size:16px;}
.mobile .mobile-in{color:#fff;padding:5em 0 16em 0;position:relative;z-index:2;}
.mobile .item2{margin-top:10em;}
.mobile .item3{margin-top:10em;}
.mobile .item4{margin-top:14em;}
.mobile .item5{margin-top:9em;}
.mobile .part-little{width:30%;display:inline-block;position:relative;}
.mobile .part-big{width:53%;display:inline-block;margin-left:15%;position:relative;}
.mobile .title{color:#ff7d00;font-size:25px;border-bottom:2px solid #fff;padding-bottom:1%;margin-bottom:4%;}
.mobile .text{font-style:italic;}
.pad-bot{padding-bottom:10%;}
.mobile .top-title{color:#00bc00;margin-bottom:2%;}
.mobile .title2{color:#ff7d00;margin-bottom:2%;font-style:italic;}
.mobile ul{list-style-image:url(../img/ul.png);}
.mobile li{margin:1% 0;}
.mobile .part-little2{width:30%;display:inline-block;margin-left:10%;}
.mobile .part-big2{width:45%;display:inline-block;margin-left:3%;}
.our-work{padding-top:2%;margin-top:-7%;background:#fff;}
.our-work .our-work-in{padding:5% 0;text-align:center;}
.our-work h2{display:inline-block;margin:0;}
.our-work .work-top{position:relative;}
#empty{opacity:0;}
.col-item{background:#FFF;}
.col-item .photo{padding:5% 0;}
.col-item .photo img{margin:0 auto;width:100%;}
.price-text-color{color:#219FD1;}
.work-top{margin:3% 0;}
.controls{position:absolute;z-index:20;font-size:25px;left:1%;top:0;}
.fa{color:#000;}
.btn{padding:1px 10px;}
.btn-default{background:#ccc;}
.btn-default:hover{background:#00bc00;}
.col-item:before{display:block;content:'';border-top:solid 4px #d98512;height:15px;transform:scaleX(0.4);transition:transform 0.6s ease-in-out;}
.col-item:after{display:block;content:'';border-bottom:solid 4px #d98512;height:15px;transform:scaleX(0.4);transition:transform 0.6s ease-in-out;}
.col-item:hover:before{transform:scaleX(1);border-left:solid 4px #d98512;border-right:solid 4px #d98512;}
.col-item:hover:after{transform:scaleX(1);border-left:solid 4px #d98512;border-right:solid 4px #d98512;}
figure.green-hover{background:rgba(0, 0, 0, 1);cursor:pointer;position:relative;}
figure.green-hover img{max-width:none;-webkit-transition:opacity 1s, -webkit-transform 1s;transition:opacity 1s, transform 1s;-webkit-backface-visibility:hidden;backface-visibility:hidden;}
figure.green-hover:hover img{opacity:0.1;}
figure figcaption{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);opacity:1;z-index:10;}
figure.green-hover #logo-h{display:none;width:80%;}
figure.green-hover:hover #logo-h{display:inline-block;position:relative;opacity:1;margin-bottom:15px;}
figure.green-hover p{display:none;font-weight:900;color:#fff;text-transform:none;font-size:85%;-webkit-transition:opacity 0.35s, -webkit-transform 0.35s;transition:opacity 0.35s, transform 0.35s;-webkit-transform:translate3d(-360px,0,0);transform:translate3d(-360px,0,0);}
figure.green-hover p:first-child{-webkit-transition-delay:0.15s;transition-delay:0.15s;}
figure.green-hover p:nth-of-type(2){-webkit-transition-delay:0.1s;transition-delay:0.1s;}
figure.green-hover p:nth-of-type(3){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.effect-julia:hover p:first-child{-webkit-transition-delay:0s;transition-delay:0s;}
figure.green-hover:hover p:nth-of-type(2){-webkit-transition-delay:0.05s;transition-delay:0.05s;}
figure.green-hover:hover p:nth-of-type(3){-webkit-transition-delay:0.1s;transition-delay:0.1s;}
figure.green-hover:hover p{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);display:inline-block;}
.directions{padding:5% 0;}
.directions .item{position:relative;display:inline-block;vertical-align:middle;width:33%;transition:0.6s;}
.directions .title-block{position:absolute;top:30%;left:-7%;text-align:left;cursor:pointer;}
.directions .active{position:relative;}
.directions .active .circle{position:absolute;top:-6em;left:30%;border-radius:50%;height:50px;width:50px;background:#fff;display:none;}
.directions .active .block-t{font-size:3.5em;font-weight:900;color:#ff7d00;margin:-15px 0;}
.directions .active .block-text{font-size:1.2em;font-weight:bold;color:#ff7d00;margin:-15px 0;}
.directions .active .block-number{font-size:4em;color:#fff;margin:-15px 0;text-shadow:0 0 15px rgba(0,0,0,1);}
.directions .active .block{display:inline-block;border:5px solid #8cc74f;text-align:right;padding:1.5em 0;width:75%;cursor:pointer;background:#fff;box-shadow:0 0 15px rgba(0,0,0,0.3);}
.directions .webBlock:hover, .directions .softBlock:hover, .directions .mobileBlock:hover{transform:scale(1.05);}
.directions .webBlock:hover #actWeb{display:inline-block;}
.directions .webBlock:hover #inactWeb{display:none;}
.directions .block-t{font-size:3.5em;font-weight:900;color:#414141;margin:-15px 0;}
.directions .block-text{font-size:1.2em;font-weight:bold;color:#414141;margin:-15px 0;}
.directions .block-number{font-size:4em;color:#fff;margin:-15px 0;text-shadow:0 0 15px rgba(0,0,0,1);}
.directions .block{display:inline-block;border:5px solid #b8b8b8;text-align:right;padding:1.5em 0;width:75%;cursor:pointer;background:#fff;box-shadow:0 0 15px rgba(0,0,0,0.3);}
#actWeb, #actsoft, #actMobile{display:none;}
.advantages{background:#fff;padding:1em 0 34em 0;position:relative;}
.advantages h2{margin-top:3%;display:inline-block;}
.advantages .adv{position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);z-index:10;}
#svgtree2{display:none;position:relative;top:2em;z-index:10;}
.address{background:#1d1e1f;}
.address .address-in{padding:2em 0;}
.address .left{color:#fff;display:inline-block;float:left;}
.address .left-l{display:inline-block;vertical-align:middle;font-size:1.3em;margin-right:0.6em;}
.address .left-l i{color:#00bc00;}
.address .left-r{display:inline-block;vertical-align:middle;}
.add{display:inline-block;margin-bottom:1em;}
.address .right{color:#fff;display:inline-block;float:right;position:relative;}
.address .arrow{position:absolute;right:-35%;top:30%;}
.address .arrow-left{position:absolute;left:-40%;top:20%;display:none;}
.address .right input{background:#fff;width:100%;color:#333436;}
.address .right input[type=submit]{background:#ff7d00;border:none;width:100%;font-size:20px;transition:0.6s;}
.address .right input[type=submit]:hover{background:#8d8a85;color:#fff;}
footer{border-top:2px solid #ff7d00;padding-bottom:5em;}
footer .right{float:right;}
footer .link{display:inline-block;margin-right:1em;outline:none;}
footer .link:last-child{margin-right:0;}
footer .imageHide1, .imageHide2, .imageHide3{display:none;}
.modalForm{color:#fff;text-align:center;}
.modalForm input[type=submit]:hover{background:#8d8a85;}
.modalForm input[type=submit]{background:#ff7d00;border:none;font-size:20px;transition:0.6s;}
.modal-block{background-size:100%;background:url(../img/bg.jpg);padding:2em;}
.modal-block .thanks-block{text-align:center;color:#fff;padding:2em 5em;}
.modal-block .link-block{display:inline-block;border-top:1px solid #ff7d00;margin:0;width:285px;}
.modal-block .imageHide1, .imageHide2, .imageHide3{display:none;}
.content-thanks{width:700px;text-align:center;}
.modal-block .link{display:inline-block;margin-right:1em;outline:none;}
.modal-block .link:last-child{margin-right:0;}
.modal-block .left{display:inline-block;vertical-align:top;width:15%;}
.modal-block .center{display:inline-block;vertical-align:middle;width:56%;}
.modal-block .center-text, .modal-block .center2-text{border-bottom:1px solid #fff;margin-bottom:2em;}
.modal-block .center2-text:last-child{margin:0;}
.modal-block .center h3{margin-top:0;color:#ff7d00;}
.modal-block .center li{margin:1em 0;color:#fff;}
.modal-block .center2-text li{margin:0.5em 0;color:#fff;}
.modal-block .right{display:inline-block;vertical-align:middle;width:28%;text-align:center;}
.modal-block .block{position:relative;display:inline-block;border:5px solid #8cc74f;padding:1.5em 0.8em 5em 0.8em;background:#fff;margin-left:2em;box-shadow:0 0 15px rgba(0,0,0,0.3);}
.modal-block .block li{text-align:left;color:#000;}
.modal-block .block-img{position:absolute;top:125%;left:50%;transform:translate(-50%, -50%);width:140%;}
.modal-content .modal-right{position:absolute;top:0;right:0;padding:1em;}
.modal-content .modal-right i{color:#fff;font-size:23px;cursor:pointer;display:inline-block;transition:0.6s;}
.modal-content .modal-right i:hover{color:#ff7d00;}
.address .container, footer .container{padding:0 9em;}
#icon-l6{position:relative;bottom:600px;left:200%;opacity:0;}
#icon-l5{position:relative;bottom:600px;left:150%;opacity:0;}
#icon-l3{position:relative;bottom:600px;left:0;opacity:0;}
#icon-l4{position:relative;bottom:600px;left:150%;opacity:0;}
#icon-l2{position:relative;bottom:600px;left:0;opacity:0;}
#icon-l1{position:relative;bottom:600px;left:0;opacity:0;}
#icon-r7{position:relative;bottom:600px;right:400%;opacity:0;}
#icon-r6{position:relative;bottom:600px;right:255%;opacity:0;}
#icon-r5{position:relative;bottom:600px;right:110%;opacity:0;}
#icon-r3{position:relative;bottom:600px;right:0;opacity:0;}
#icon-r4{position:relative;bottom:600px;right:110%;opacity:0;}
#icon-r2{position:relative;bottom:600px;right:0;opacity:0;}
#icon-r1{position:relative;bottom:600px;right:0;opacity:0;}
.check-preloader{height:100%;display:inline-block;vertical-align:middle;}
.preloader img{display:inline-block;vertical-align:middle;}
.pc_phone{display:block;}
.mobile_phone{display:none;}
#it-person{position:absolute;top:20%;right:2%;width:160px;height:160px;-webkit-transition:all 0.8s ease-in-out;transition:all 0.8s ease-in-out;z-index:100;padding:10px;text-align:center;box-sizing:border-box;}
#it-person:hover{transform:scale(1.1);cursor:pointer;}
.animated{-webkit-animation-duration:1.5s;animation-duration:1.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
.fadeInLeft{-webkit-animation-name:fadeInLeft;animation-name:fadeInLeft;}
@-webkit-keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInLeft{from{opacity:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.fadeInRight{-webkit-animation-name:fadeInRight;animation-name:fadeInRight;}
@-webkit-keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
@keyframes fadeInRight{from{opacity:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0);}
to{opacity:1;-webkit-transform:none;transform:none;}
}
.prem-first{margin-top:10px;}
.prem{color:#00bc00;list-style-type:square;}
.prem-last{color:#ff7d00;margin-top:10px;}