%header
  .slider-navigation
    .nav-pointer.draggable
      0/0
.site-container
  %section.intro
    .wrap
      .content
        %h1 Hello.
        %h2 My name is Tyler Fowle
        %h5 I create amazing front end interfaces
  - (2..10).each do |i|
    %section
      .wrap
        .content
          %h1 Section #{i}
          %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo necessitatibus fuga deserunt beatae ut minima, nobis voluptates dolore suscipit corporis temporibus quaerat, vel amet magnam voluptas, aliquid nostrum ipsa fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo necessitatibus fuga deserunt beatae ut minima, nobis voluptates dolore suscipit corporis temporibus quaerat, vel amet magnam voluptas, aliquid nostrum ipsa fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo necessitatibus fuga deserunt beatae ut minima, nobis voluptates dolore suscipit corporis temporibus quaerat, vel amet magnam voluptas, aliquid nostrum ipsa fugiat.